body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
.header{
    background-color: blue;
}

  .h1-container {
    padding: 4px;
  }
  
  .form-container {
    padding: 10px;
  }
  
  .search-label {
    font-size: 20px;
    font-weight: 600;
  }
  
  .search-input {
    width: 100%;
    max-width: 380px;
    height: 40px;
    border: none;
    outline: 0.1em;
    outline-color: rgb(49, 48, 48);
    padding: 0 1em;
    margin: 0 1em;
    background-color: rgb(217, 217, 219);
  }
  
  .search-button {
    margin: 2em;
    padding: 10px 15px;
  }
  
  .search-history-container {
    padding: 10px;
  }
  
  .past-search {
    background-color: rgb(183, 183, 183);
    border-radius: 0.5em;
    margin: 0.4em;
    width: 350px;
    height: 45px;
    line-height: 45px;
    color: black;
    text-align: center;
  }
  
  .current-weather-container {
    margin: 20px 0 0 20px;
    padding: 0 0 12px 0;
  }
  
  .current-title-container {
    display: flex;
  }
  
  .current-title {
    font-size: 40px;
    margin: 15px 0 20px 20px;
  }
  
  .current-weather-icon {
    width: 80px;
    height: 80px;
  }
  
  .current-temperature, .current-humidity, .current-wind-speed {
    margin: 15px 20px;
    font-size: 20px;
  }
  
  .current-uv-index {
    font-size: 20px;
    display: inline;
    margin: 0 0 0 20px;
  }
  
  .current-number {
    font-size: 20px;
    display: inline;
    color: black;
    padding: 5px 10px;
  }
  
  .favorable {
    background-color: green;
    color: black;
  }
  
  .moderate {
    background-color: yellow;
    color: black;
  }
  
  .severe {
    backgound-color: rgb(196, 15, 15);
    color: black;
  }
  
  .future-forecast-container {
    margin: 5px 20px 0 20px;
  }
  
.future-card {
    background-color: rgb(45, 62, 80);
    color: white;
    padding: 2em 1em;

}



  .future-forecast-heading {
    font-size: 18px;
    font-weight: bold;
  }
  
  .future-card-details {
    width: 17%;
  }
  
  .future-date {
    font-size: 20px;
    
  }
  
  .future-icon {
    width: 50px;
    height: 50px;
    margin: 0 0 0 15px;
  }
  
  .future-temp, .future-humidity {
    font-size: 17px;
    font-weight: 200;
  }